In [1]:
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd

In [2]:
data=pd.read_csv('loan_dataset.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
data.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
data=data.drop('Loan_ID', axis=1)

In [8]:
from sklearn.preprocessing import OneHotEncoder
le=OneHotEncoder()

In [9]:
data['Gender']=le.fit_transform(data['Gender'].values.reshape(-1,1)).toarray()
data['Married']=le.fit_transform(data['Married'].values.reshape(-1,1)).toarray()
data['Education']=le.fit_transform(data['Education'].values.reshape(-1,1)).toarray()
data['Self_Employed']=le.fit_transform(data['Self_Employed'].values.reshape(-1,1)).toarray()
data['Property_Area']=le.fit_transform(data['Property_Area'].values.reshape(-1,1)).toarray()
data['Loan_Status']=le.fit_transform(data['Loan_Status'].values.reshape(-1,1)).toarray()

In [11]:
print(data['Gender'])

1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
609    1.0
610    0.0
611    0.0
612    0.0
613    1.0
Name: Gender, Length: 480, dtype: float64

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
data['ApplicantIncome']=sc.fit_transform(data['ApplicantIncome'].values.reshape(-1,1))
data['CoapplicantIncome']=sc.fit_transform(data['CoapplicantIncome'].values.reshape(-1,1))
data['LoanAmount']=sc.fit_transform(data['LoanAmount'].values.reshape(-1,1))

In [19]:
data['Dependents']=data['Dependents'].replace('3+', 3)

In [18]:
data['Dependents'].astype(str).astype(int)

1      1
2      0
3      0
4      0
5      2
      ..
609    0
610    3
611    1
612    2
613    0
Name: Dependents, Length: 480, dtype: int64

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             480 non-null    float64
 1   Married            480 non-null    float64
 2   Dependents         480 non-null    object
 3   Education          480 non-null    float64
 4   Self_Employed      480 non-null    float64
 5   ApplicantIncome    480 non-null    int64
 6   CoapplicantIncome  480 non-null    float64
 7   LoanAmount         480 non-null    float64
 8   Loan_Amount_Term   480 non-null    float64
 9   Credit_History     480 non-null    float64
 10  Property_Area      480 non-null    float64
 11  Loan_Status        480 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 48.8+ KB

In [20]:
X=data.drop('Loan_Status', axis=1)
y=data['Loan_Status']

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
model=Sequential()
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [49]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - accuracy: 0.5861 - loss: 9.9429
Epoch 2/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.6701 - loss: 3.0535
Epoch 3/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - accuracy: 0.6819 - loss: 2.3994
Epoch 4/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.6890 - loss: 1.6664
Epoch 5/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.5747 - loss: 2.2269
Epoch 6/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.6249 - loss: 4.1731
Epoch 7/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.6553 - loss: 3.1392
Epoch 8/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - accuracy: 0.6008 - loss: 4.9587
Epoch 9/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - accuracy: 0.5947 - loss: 3.0026
Epoch 10/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.6576 - loss: 1.7690

In [50]:
pred=model.predict(X_test)

WARNING:tensorflow:5 out of the last 13 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x31b039e40> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 625us/step

In [51]:
for i in range(len(pred)):
  if pred[i]>0.5:
    pred[i]=1
  else:
    pred[i]=0

In [52]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7083333333333334