In [1]:
import keras
import pandas as pd
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/customer_churn.csv")
print("Describing the data: ",data.describe())
print("Info of the data:",data.info())

Describing the data:                Age  Total_Purchase  Account_Manager       Years   Num_Sites  \
count  900.000000      900.000000       900.000000  900.000000  900.000000
mean    41.816667    10062.824033         0.481111    5.273156    8.587778
std      6.127560     2408.644532         0.499921    1.274449    1.764836
min     22.000000      100.000000         0.000000    1.000000    3.000000
25%     38.000000     8497.122500         0.000000    4.450000    7.000000
50%     42.000000    10045.870000         0.000000    5.215000    8.000000
75%     46.000000    11760.105000         1.000000    6.110000   10.000000
max     65.000000    18026.010000         1.000000    9.150000   14.000000

            Churn
count  900.000000
mean     0.166667
std      0.372885
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Names            900 non-null    object
 1   Age              900 non-null    float64
 2   Total_Purchase   900 non-null    float64
 3   Account_Manager  900 non-null    int64
 4   Years            900 non-null    float64
 5   Num_Sites        900 non-null    float64
 6   Onboard_date     900 non-null    object
 7   Location         900 non-null    object
 8   Company          900 non-null    object
 9   Churn            900 non-null    int64
dtypes: float64(4), int64(2), object(4)
memory usage: 70.4+ KB
Info of the data: None

In [4]:
print("10 first samples of the dataset:\n",data.head(10))
print("10 last samples of the dataset:\n",data.tail(10))

10 first samples of the dataset:
               Names   Age  Total_Purchase  Account_Manager  Years  Num_Sites  \
0  Cameron Williams  42.0        11066.80                0   7.22        8.0
1     Kevin Mueller  41.0        11916.22                0   6.50       11.0
2       Eric Lozano  38.0        12884.75                0   6.67       12.0
3     Phillip White  42.0         8010.76                0   6.71       10.0
4    Cynthia Norton  37.0         9191.58                0   5.56        9.0
5  Jessica Williams  48.0        10356.02                0   5.12        8.0
6       Eric Butler  44.0        11331.58                1   5.23       11.0
7     Zachary Walsh  32.0         9885.12                1   6.92        9.0
8       Ashlee Carr  43.0        14062.60                1   5.46       11.0
9    Jennifer Lynch  40.0         8066.94                1   7.11       11.0

          Onboard_date                                           Location  \
0  2013-08-30 07:00:40      10265 Elizabeth Mission Barkerburgh, AK 89518
1  2013-08-13 00:38:46  6157 Frank Gardens Suite 019 Carloshaven, RI 1...
2  2016-06-29 06:20:07             1331 Keith Court Alyssahaven, DE 90114
3  2014-04-22 12:43:12       13120 Daniel Mount Angelabury, WY 30645-4695
4  2016-01-19 15:31:15                765 Tricia Row Karenshire, MH 71730
5  2009-03-03 23:13:37  6187 Olson Mountains East Vincentborough, PR 7...
6  2016-12-05 03:35:43      4846 Savannah Road West Justin, IA 87713-3460
7  2006-03-09 14:50:20  25271 Roy Expressway Suite 147 Brownport, FM 5...
8  2011-09-29 05:47:23  3725 Caroline Stravenue South Christineview, M...
9  2006-03-28 15:42:45  363 Sandra Lodge Suite 144 South Ann, WI 51655...

                       Company  Churn
0                   Harvey LLC      1
1                   Wilson PLC      1
2  Miller, Johnson and Wallace      1
3                    Smith Inc      1
4                   Love-Jones      1
5                 Kelly-Warren      1
6            Reynolds-Sheppard      1
7                   Singh-Cole      1
8                    Lopez PLC      1
9                Reed-Martinez      1
10 last samples of the dataset:
                Names   Age  Total_Purchase  Account_Manager  Years  Num_Sites  \
890       Jason West  45.0        13122.89                0   5.84        6.0
891       Adam Moore  41.0        12659.88                0   4.55        4.0
892    Brandon Ortiz  37.0         8286.87                1   6.25        8.0
893   Cindy Marshall  37.0         9229.96                0   3.65        8.0
894   Matthew Barnes  45.0         4863.73                1   5.17        8.0
895      Paul Miller  42.0        12800.82                1   3.62        8.0
896   Natalie Hodges  52.0         9893.92                0   6.91        7.0
897        Ana Smith  45.0        12056.18                0   5.46        4.0
898   Justin Leonard  51.0         6517.93                1   5.47       10.0
899  Joseph Williams  39.0         9315.60                1   5.02       10.0

            Onboard_date                                           Location  \
890  2016-04-03 12:55:26   6239 Timothy Overpass Carmenhaven, FM 05708-0772
891  2010-01-22 19:08:48  339 Jeffrey River Suite 638 Fergusonville, DC ...
892  2007-12-13 12:23:32  276 Thompson Field Apt. 992 South Victoriaton,...
893  2015-12-30 19:11:01    393 Stephens Field South Michelleside, MI 26930
894  2011-07-19 18:41:42         00154 Ashley Course Shannonville, UT 52907
895  2007-12-01 13:29:34  9316 Julian Fort Suite 328 North Leslie, ME 43961
896  2008-12-28 15:23:58  8419 William Square Apt. 695 Martinville, RI 3...
897  2014-06-20 05:10:09               Unit 8633 Box 8738 DPO AA 14126-5026
898  2012-05-30 00:15:43  49800 Torres Ways Suite 886 West Bradleybury, ...
899  2010-09-25 12:16:08       27252 Olivia Burgs Rivasmouth, MN 80121-6348

                     Company  Churn
890          Santiago-Waller      0
891  Little, White and Davis      0
892              Ewing Group      0
893             Gomez-Clarke      0
894            Chavez-Howard      0
895             Evans-Lucero      0
896           Perry and Sons      0
897          Schneider-Smith      0
898            Robles-Abbott      0
899              Davis Group      0

In [7]:
x = data.drop(["Names", "Age", "Account_Manager", "Location", "Company", "Onboard_date", "Churn"], axis = 1)
x

     Total_Purchase  Years  Num_Sites
0          11066.80   7.22        8.0
1          11916.22   6.50       11.0
2          12884.75   6.67       12.0
3           8010.76   6.71       10.0
4           9191.58   5.56        9.0
..              ...    ...        ...
895        12800.82   3.62        8.0
896         9893.92   6.91        7.0
897        12056.18   5.46        4.0
898         6517.93   5.47       10.0
899         9315.60   5.02       10.0

[900 rows x 3 columns]

In [9]:
y = data["Churn"]
y

0      1
1      1
2      1
3      1
4      1
      ..
895    0
896    0
897    0
898    0
899    0
Name: Churn, Length: 900, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 52, test_size=0.25)

In [15]:
from keras.models import Sequential
from keras.layers import Dense,Activation,Dropout
from keras.utils import np_utils

In [16]:
y_train=np_utils.to_categorical(y_train,num_classes=2)
y_test=np_utils.to_categorical(y_test,num_classes=2)
print("Shape of y_train",y_train.shape)
print("Shape of y_test",y_test.shape)

Shape of y_train (675, 2)
Shape of y_test (225, 2)

In [21]:
model=Sequential()
model.add(Dense(1000,input_dim=3,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(300,activation='relu'))
model.add(Dense(2,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [22]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 1000)              4000

 dense_5 (Dense)             (None, 500)               500500

 dense_6 (Dense)             (None, 300)               150300

 dense_7 (Dense)             (None, 2)                 602

=================================================================
Total params: 655,402
Trainable params: 655,402
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=20,epochs=10,verbose=1)

Epoch 1/10
34/34 [==============================] - 2s 26ms/step - loss: 227.4985 - accuracy: 0.7007 - val_loss: 114.9271 - val_accuracy: 0.1467
Epoch 2/10
34/34 [==============================] - 1s 18ms/step - loss: 43.4454 - accuracy: 0.7052 - val_loss: 7.8327 - val_accuracy: 0.8533
Epoch 3/10
34/34 [==============================] - 1s 17ms/step - loss: 16.1385 - accuracy: 0.6933 - val_loss: 31.9461 - val_accuracy: 0.8533
Epoch 4/10
34/34 [==============================] - 1s 16ms/step - loss: 19.2439 - accuracy: 0.7126 - val_loss: 61.0988 - val_accuracy: 0.1467
Epoch 5/10
34/34 [==============================] - 1s 16ms/step - loss: 20.8590 - accuracy: 0.7096 - val_loss: 1.9231 - val_accuracy: 0.1467
Epoch 6/10
34/34 [==============================] - 1s 16ms/step - loss: 14.5601 - accuracy: 0.7052 - val_loss: 13.3593 - val_accuracy: 0.8533
Epoch 7/10
34/34 [==============================] - 1s 17ms/step - loss: 16.1642 - accuracy: 0.7067 - val_loss: 0.5269 - val_accuracy: 0.8533
Epoch 8/10
34/34 [==============================] - 1s 16ms/step - loss: 6.0647 - accuracy: 0.7274 - val_loss: 0.8122 - val_accuracy: 0.8533
Epoch 9/10
34/34 [==============================] - 1s 16ms/step - loss: 1.2704 - accuracy: 0.7200 - val_loss: 1.0835 - val_accuracy: 0.8533
Epoch 10/10
34/34 [==============================] - 1s 27ms/step - loss: 1.6942 - accuracy: 0.7556 - val_loss: 0.4983 - val_accuracy: 0.8533

In [24]:
prediction=model.predict(X_test)
length=len(prediction)
y_label=np.argmax(y_test,axis=1)
predict_label=np.argmax(prediction,axis=1)

accuracy=np.sum(y_label==predict_label)/length * 100
print("Accuracy of the dataset",accuracy )

8/8 [==============================] - 0s 4ms/step
Accuracy of the dataset 85.33333333333334

In [25]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_label, predict_label))

[[192   0]
 [ 33   0]]

In [26]:
print(predict_label, y_label)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0] [0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0
 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 0 1]